target/
conf/
data/
Cargo.lock
.turbo/
node_modules
.DS_Store
__MACOSX/
tmp/
logs/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

dist/
dist.zip
pnpm-lock.yaml