[Unit]
Description=AI Gateway
After=network.target
PartOf=aigw.target
Documentation=man:aigw(1)

[Service]
Type=forking
ExecStart=/usr/bin/aigw --config /etc/aigw/aigw.toml --daemon --log-dir /var/log/aigw/ --geo-lite=/etc/aigw/GeoLite2-Country.mmdb --pid-file /run/aigw.pid
PIDFile=/run/aigw.pid
WorkingDirectory=/etc/aigw
RestartSec=5s
Restart=on-failure
TasksMax=256
MemoryMax=4096M
PrivateTmp=yes
ProtectHome=no
ProtectSystem=strict
ReadWritePaths=/var/log /run /opt/aigw/
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW CAP_SETGID CAP_SETUID CAP_SYS_CHROOT
DeviceAllow=/dev/null rw
DeviceAllow=/dev/net/tun rw

[Install]
WantedBy=multi-user.target